<div class="page-wrapper">
    <div class="page-inner bg-brand-gradient">
        <div class="page-content-wrapper bg-transparent m-0">
            <div class="height-10 w-100 shadow-lg px-4 bg-brand-gradient">
                <div class="d-flex align-items-center container p-0">
                    <div class="page-logo width-mobile-auto m-0 align-items-center justify-content-center p-0 bg-transparent bg-img-none shadow-0 height-9">
                        <a href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center">
                            <img src="assets/img/logo.png" alt="SmartAdmin WebApp" aria-roledescription="logo">
                            <span class="page-logo-text mr-1">SmartAdmin WebApp</span>
                        </a>
                    </div>
                    <span class="text-white opacity-50 ml-auto mr-2 hidden-sm-down">
                        Ya eres usuario?
                    </span>
                    <a routerLink="/login" class="btn-link text-white ml-auto ml-sm-0">
                        Login
                    </a>
                </div>
            </div>
            <div class="flex-1" style="background: url(assets/img/svg/pattern-1.svg) no-repeat center bottom fixed; background-size: cover;">
                <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
                    <div class="row">
                        <div class="col-xl-12">
                            <h2 class="fs-xxl fw-500 mt-4 text-white text-center">
                                Registro
                                <small class="h3 fw-300 mt-3 mb-5 text-white opacity-60 hidden-sm-down">
                                   Sistema de registro
                                </small>
                            </h2>
                        </div>
                        <div class="col-xl-6 ml-auto mr-auto">
                            <div class="card p-4 rounded-plus bg-faded">

                                <form id="js-login" novalidate="" 
                                autocomplete="off"
                                [formGroup]="registerForm"
                                (ngSubmit)="crearUsuario()">
                                    <div class="form-group row">
                                        <label class="col-xl-12 form-label" for="fname">Nombre y Apellido</label>
                                        <div class="col-12 pr-1">
                                            <input type="text" id="fname"   class="form-control"
                                            formControlName="nombre"
                                             placeholder="Nombre">
                                            <div class="alert alert-danger" *ngIf="campoNovalido('nombre')" role="alert">
                                                <strong>Error</strong> El nombre es obligatorio
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="emailverify">Correo</label>
                                        <input type="email"  class="form-control"
                                            formControlName="email"
                                            placeholder="correo">
                                            <div class="alert alert-danger" *ngIf="campoNovalido('email')" role="alert">
                                                <strong>Error</strong> El email es obligatorio
                                            </div>
                                        <div class="help-block">Your email will also be your username</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="userpassword">Password: </label>
                                        <input type="password"  class="form-control" 
                                            formControlName="password"
                                            placeholder="minimm 8 characters" >
                                      
                                        <div class="help-block">Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="userpassword">Confirmar Password: </label>
                                        <input type="password"  class="form-control" 
                                            formControlName="password2"
                                            placeholder="Confirmar la password" >
                                            <div class="alert alert-danger" *ngIf="contrasenasNovalidas()" role="alert">
                                                <strong>Error</strong> Las claves deben ser iguales
                                            </div>
                                    </div>
                                    <div class="form-group demo">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="terms"   formControlName="terminos">
                                            <label class="custom-control-label" for="terms"> I agree to terms & conditions</label>
                                            <div class="alert alert-danger" *ngIf="aceptaTerminos()" role="alert">
                                                <strong>Debe aceptar los terminos</strong> 
                                            </div>
                                        </div>
                                    </div>
                                   

                                    <div class="row no-gutters">
                                        <div class="col-md-4 ml-auto text-right">
                                            <button id="js-login-btn" type="submit" class="btn btn-block btn-danger btn-lg mt-3">Registrar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="position-absolute pos-bottom pos-left pos-right p-3 text-center text-white">
                    2020 © SmartAdmin by&nbsp;<a href='https://www.gotbootstrap.com' class='text-white opacity-40 fw-500' title='gotbootstrap.com' target='_blank'>gotbootstrap.com</a>
                </div>
            </div>
        </div>
    </div>
</div>


